.form-wrapper {
    width: 100%;
}


/*form fields*/

select,
input {
    border: none !important;
    outline: none !important;
    width: 100%;
}

.formfield {
    width: 100%;
    padding: 20px 0;
}

.formfield>.sub-content {
    display: flex;
    justify-content: center;
}

#formfield>span>.sub-content {
    display: flex;
    justify-content: center;
}

.formfield>.sub-content>span,
#flightFormfield>.span>.sub-content>span {
    display: block;
    width: fit-content;
    padding: 1% 2.5%;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #eee;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.080);
    cursor: pointer;
}

.formfield>.sub-content>.active,
#flightFormField>.span>.sub-content>.active {
    background-color: rgba(240, 134, 34, 0.8);
    color: white;
}

.formfield>form {
    margin: 20px 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 90%;
    padding: 2% 5%;
}

#flightFormField .span {
    width: 100%;
}

.input-content {
    color: white;
    border-bottom: 2px solid #7695bb;
    margin-bottom: 10px;
}

.input-content>.input {
    color: #7695bb;
    padding: 10px;
}

.input-content>.input>span {
    background-color: transparent;
    font-size: 1.1rem;
    margin-right: 10px;
}

.input-content>.input>input {
    background-color: transparent;
    font-size: 1.1rem;
    border: none;
}

.input-content>.input>input::placeholder {
    color: #7695bb;
}

.sort-field {
    display: flex;
    justify-content: space-between;
}

.sort-field>.input-content {
    width: 45%;
}

.sort-field>.input-content>.input>input {
    font-size: 0.9rem;
}

.sort-field>.input-content>.input {
    padding: 10px 0;
}

.date-input {
    height: 32% !important;
}

.date-input input {
    font-family: sans-serif !important;
}

.formfield>form>button {
    display: block;
    width: 100%;
    background-color: rgba(240, 134, 34, 0.8);
    border: none;
    border-radius: 5px;
    padding: 12px 0;
    color: white;
    font-size: 1.1rem;
    margin-top: 10px;
}

#flightFormField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#flightFormField .span {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

#flightFormField .span button {
    display: block;
    width: 5%;
    background-color: rgba(240, 134, 34, 0.8);
    border: none;
    border-radius: 5px;
    padding: 12px 0;
    color: white;
    font-size: 1.1rem;
    margin-top: 10px;
}


/*form lists*/

.formlists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0;
}

.formlists>.formlist {
    margin: 10px 0;
    cursor: pointer;
}

.formlists>.formlist>.circle {
    display: flex;
    width: 60px;
    height: 60px;
    border: 2px solid #333;
    border-radius: 100%;
    margin: auto;
}

.formlists>.formlist>p {
    display: none;
    margin-bottom: 0;
    color: #333;
}

.formlists>.formlist>.circle>.icon-box {
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: rgba(240, 134, 34, 0.8);
    margin: auto;
    font-size: 1.5rem;
}

.formlists>.formlist>.circle>.icon-box>i {
    margin: auto;
    color: white;
    outline-color: #333;
}

.formlists>.formlist>.active-circle>.icon-box {
    background-color: white;
}

.formlists>.formlist>.active-circle>.icon-box>i {
    color: #333;
}

@media only screen and (min-width:700px) {
    .formlists {
        width: 60%;
        margin: auto;
        justify-content: center;
    }
    .formlists>.formlist {
        text-align: center;
        margin: 15px;
    }
    .formlists>.formlist>p {
        display: block;
        margin: 10px auto 0 auto;
        font-size: 0.9rem;
    }
    .formlists>.formlist>.circle {
        width: 50px;
        height: 50px;
    }
    .formlists>.formlist>.circle>.icon-box {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (min-width:1000px) {
    .formfield>form {
        width: 65%;
        margin: 20px auto;
        display: flex;
        justify-content: center;
    }
    .input-content {
        width: fit-content;
        border-bottom: none;
        margin: 0 5px;
        transition: 0.2s;
    }
    .formfield>form>.input-content>.input {
        display: flex;
    }
    #flightFormfield>.span>.input-content>.input {
        display: flex;
    }
    .input-content>.input {
        background-color: white;
        border-radius: 5px;
        color: rgba(240, 134, 34, 0.8);
        padding: 10px;
    }
    .input-content>.input>span {
        background-color: transparent;
        margin: auto 10px auto 0;
    }
    .input-content>.input>input {
        background-color: transparent;
        font-size: 0.9rem;
        border: none;
    }
    .input-content>.input>input::placeholder {
        color: #333;
    }
    .sort-field {
        width: fit-content;
        display: flex;
        justify-content: start
    }
    .sort-field>.input-content>.input {
        width: fit-content;
        padding: 10px;
    }
    .sort-field>.input-content>.input>input {
        font-size: 0.9rem;
    }
    .formfield>form>button {
        width: fit-content;
        padding: 10px;
        font-size: 1rem;
        height: fit-content;
        margin: auto 5px 0 5px;
    }
    #flightformField>.span>button {
        width: fit-content;
        padding: 10px;
        font-size: 1rem;
        height: fit-content;
        margin: auto 5px 0 5px;
    }
}

.disabled-date {
    pointer-events: none;
    background-color: rgba(255, 249, 249, 0.699) !important;
}

#flightFormField .span .input-content .input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#flightFormField .span .input-content .input span {
    width: fit-content;
    margin-bottom: 0px;
}

#flightFormField .span button {
    margin-top: 17px;
}

@media screen and (max-width: 500px) {
    #flightFormField .span {
        display: flex;
        flex-direction: column;
    }
    .input-content {
        width: 100% !important;
        background-color: transparent;
        color: white;
    }
    .input-content div,
    .input-content div input {
        background-color: transparent !important;
        color: white !important;
    }
    #flightFormField .span button {
        width: 100%;
    }
    .input-content div select {
        background: transparent;
        color: white;
        font-size: 1em;
    }
    .input-content div select option {
        color: black !important;
    }
    .input-content .input {
        display: flex;
        flex-direction: row !important;
        justify-content: flex-start;
        align-items: center;
    }
}